<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IReporteServices" maxBufferPoolSize="5242880"
                    maxReceivedMessageSize="5242880" />
                <binding name="BasicHttpBinding_IMantenimientoServices" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IReporteServices" maxBufferPoolSize="5242880"
                    maxReceivedMessageSize="5242880" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://s000-00:5050/ReporteServices.svc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IReporteServices"
                contract="ReportesServices.IReporteServices" name="NetTcpBinding_IReporteServices">
                <identity>
                    <servicePrincipalName value="host/S000-00" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:5051/MantenimientoServices.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMantenimientoServices"
                contract="MantenimientoServices.IMantenimientoServices" name="BasicHttpBinding_IMantenimientoServices" />
        </client>
    </system.serviceModel>
</configuration>